.main{
    border: 1px solid black;
    width: 99%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.blank{
    width: 75%;
}