.main {
    position: sticky;
    top: 5px;
    left: 0;
    right: 0;
    border: 5px solid rgba(0, 140, 255, 0.822);
    /* border-radius: 30px; */
    width: 95vw;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    backdrop-filter: blur(20px);
    z-index: 1000; /* make sure it stays above content */
}


.nav-home{
    padding: 5px 5px;
    font-size: x-large;
    font-weight: 1000;
}

.main a{
    color: rgb(255, 255, 255);
    width: fit-content;
}
.blank{
    width: 1500px;
}

.divider{
    width: 1rem;
}

.left{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.user{
    cursor: pointer;
}


@media (max-width:1000px ) {
    .home{
        width: fit-content;
        font-size: medium;
    }
}