.chapter{
    display: flex;
    width: 500px;
    height: auto;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}


.chapter-name{
    font-size: 1.5rem;
}

.chapter-content {
    display: flex;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.8s ease;
}

.chapter:hover .chapter-content {
    max-height: 500px; /* big enough to fit content */
    transition: 0.8s ease;
}

.subtopic{
    border: 1px solid red;
    width: 300px;
    text-wrap: wrap;
    font-weight: bold;
    text-align: left;
}

.progress{
    border: 1px solid blue;
    width: 200px;
    padding: 5px;
    border-radius: 300px;
    margin-left: 10px;
}